[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "LibRaw"]
	path = LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "libtiff"]
	path = libtiff
	url = https://gitlab.com/libtiff/libtiff.git
